body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: #f5f5f5;
}

/* NAVBAR */
.navbar {
	background: #1f7a6f;
	color: white;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links a {
	margin-right: 1rem;
	color: white;
	text-decoration: none;
}

.login-btn {
	background: white;
	color: #1f7a6f;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 6px;
}

/* HERO */
.hero {
	padding: 3rem 2rem;
	background: white;
}

/* BUSCADOR */
.search-bar {
	display: flex;
	margin-top: 1rem;
}

.search-bar input {
	flex: 1;
	padding: 0.7rem;
}

.search-bar button {
	background: #1f7a6f;
	color: white;
	border: none;
	padding: 0.7rem 1.2rem;
}

/* SECCIONES */
.section {
	padding: 2rem;
}

.section-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

/* GRID */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 1rem;
}

/* CARD BASE */
.card {
	background: white;
	padding: 1rem;
	border-radius: 12px;
}

/* ===== IMÁGENES Y OVERLAY ===== */

.category-card,
.recommended-card {
	position: relative;
	overflow: hidden;
}

/* IMÁGENES */
.category-card img,
.recommended-card img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 14px;
	display: block;
}

/* OVERLAY OSCURO */
/* .category-card::after,
.recommended-card::after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.1));
} */

/* TEXTO CATEGORÍAS */
.category-card span {
	position: absolute;
	bottom: 14px;
	left: 14px;
	z-index: 2;
	color: white;
	font-weight: 600;
	font-size: 1rem;
}

/* TEXTO RECOMENDADOS */
.recommended-card h4,
.recommended-card p {
	position: absolute;
	left: 14px;
	z-index: 2;
	color: white;
}

.recommended-card h4 {
	bottom: 36px;
	font-size: 1.1rem;
}

.recommended-card p {
	bottom: 14px;
	font-size: 0.9rem;
	opacity: 0.9;
}

/* FOOTER */
.footer {
	background: #1f7a6f;
	color: white;
	text-align: center;
	padding: 1rem;
}

h1 {
	color: black;
}

p {
	color: black;
}
